<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-5">
              <h4><strong>Good Afternoon John</strong></h4>
              <small>Below are some quick stats</small>
              <br /><br />
              <table class="table small">
                <tbody>
                <tr>
                    <td align="right"><span class="badge">1</span></td>
                    <td align="left"><i class="fa fa-envelope"></i>&nbsp;&nbsp;New Message</td>
                </tr> 
                <tr>
                    <td align="right"><span class="badge">6</span></td>
                    <td align="left"><i class="fa fa-warning"></i>&nbsp;&nbsp;Notifications</td>
                </tr>  
                <tr>
                    <td align="right"><span class="badge">10</span></td>
                    <td align="left"><i class="fa fa-comments"></i>&nbsp;&nbsp;Conversations updated</td>
                </tr>
                <tr>
                    <td align="right"><span class="badge">22</span></td>
                    <td align="left"><i class="fa fa-share-alt"></i>&nbsp;&nbsp;Shared Conversations updated</td>
                </tr>
                <tr>
                    <td align="right"><span class="badge">10</span></td>
                    <td align="left"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Meetings Today</td>
                </tr>
                <tr>
                    <td align="right"><span class="badge">3</span></td>
                    <td align="left"><i class="fa fa-bell"></i>&nbsp;&nbsp;Reminders Today</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7">
              <h5>Accounts by Status</h5>
              <div id="accounts-status-breakdown"></div>
            </div>
          </div><!-- panel body -->
        </div><!-- panel -->
      </div>
    </div><!-- row -->
    
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-dark panel-alt">
          <div class="panel-heading">
            <h3 class="panel-title">Maps</h3>
          </div>
          <div class="panel-body">
            <p>See your schedule today on the map below</p>
            <div id="gmap-marker" style="height: 300px"></div>  
          </div><!-- panel-body -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="panel panel-default widget-weather">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 temp text-center">
              <h1>18 <span>゜</span></h1>
              <h5><i class="fa fa-map-marker"></i> &nbsp; Vancouver</h5>
            </div>
            <div class="col-xs-6 weather text-center">
              <i class="fa fa-cloud weather-icon"></i>
              <div class="pull-left"><i class="fa fa-umbrella"></i> 1.0mm</div>
              <div class="pull-right"><i class="fa fa-flag"></i> 30mph</div>
            </div>
          </div>
        </div><!-- panel-body -->
      </div>
    </div>
    <div class="row">

<div class="panel panel-dark panel-alt">
  <div class="panel-heading">
    <h3 class="panel-title">Schedule</h3>
  </div>
  <div class="panel-body">
    <div class="inspinia-timeline">
    
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-briefcase"></i>
                6:00 am
            </div>
            <div class="col-xs-7 content no-top-border">
                <p class="m-b-xs"><strong>Meeting</strong></p>
      
                <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.</p>
            </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-file-text"></i>
                7:00 am
            </div>
            <div class="col-xs-7 content">
                <p class="m-b-xs"><strong>Send documents to Mike</strong></p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
            </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-coffee"></i>
                8:00 am
            </div>
            <div class="col-xs-7 content">
                <p class="m-b-xs"><strong>Coffee Break</strong></p>
                <p>
                    Go to shop and find some products.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                </p>
            </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-phone"></i>
                11:00 am
            </div>
            <div class="col-xs-7 content">
                <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since.
                </p>
            </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-user-md"></i>
                09:00 pm
            </div>
            <div class="col-xs-7 content">
                <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
                <p>
                    Find some issue and go to doctor.
                </p>
            </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="row">
            <div class="col-xs-3 date">
                <i class="fa fa-comments"></i>
                12:50 pm
            </div>
            <div class="col-xs-7 content">
                <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
                <p>
                    Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
            </div>
        </div>
      </div>
    
    </div>
  </div>
</div>


    </div>
  </div>
</div>      

      

    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
  
</section>


<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>


<script src="/assets/bootstrap/js/morris.min.js"></script>
<script src="/assets/bootstrap/js/raphael-2.1.0.min.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/assets/bootstrap/js/gmaps.js"></script>


<script src="/assets/bootstrap/js/custom.js"></script>
<script src="/assets/bootstrap/js/dashboard.js"></script>

<script>
  var map_marker = new GMaps({
    div: '#gmap-marker',
    lat: -12.043333,
    lng: -77.028333
  });
  map_marker.addMarker({
    lat: -12.043333,
    lng: -77.019333,
    label: "GJ",
    click: function(e) {
      alert('You clicked in this marker');
    }
  });
  map_marker.addMarker({
    lat: -12.043333,
    lng: -77.028333,
    label: "RJ",
    title: 'Hello World!'
  }); 
  map_marker.addMarker({
    lat: -12.043333,
    lng: -77.022333,
    label: "DY",
    click: function(e) {
      alert('You clicked in this marker');
    }
  });   
  
   var m4 = new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: 'accounts-status-breakdown',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { y: 'May', a: 13,  b: 23, c: 0, d: 0},
            { y: 'Jun', a: 22,  b: 22, c: 2, d: 0},
            { y: 'Jul', a: 28,  b: 12, c: 4, d: 5},
            { y: 'Aug', a: 44,  b: 5, c: 0, d: 6},
            { y: 'Sep', a: 80,  b: 32, c: 10, d: 7},
            { y: 'Oct', a: 100, b: 20, c: 3, d: 3}
        ],
        xkey: 'y',
        ykeys: ['a', 'b', 'c', 'd'],
        labels: ['Open', 'Leads', 'Suspended', 'Closed'],
        barColors: ['#1CAF9A', '#428BCA', '#ff860d', '#999999'],
        lineWidth: '1px',
        fillOpacity: 0.8,
        smooth: false,
        stacked: true,
        hideHover: true
   });
</script>



<link href="/assets/bootstrap/css/morris.css" rel="stylesheet">
<style>
  /* Intimeline */
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}
.timeline-item .date {
  text-align: right;
  position: relative;
  padding-top: 30px;
}
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}
.timeline-item .content:hover {
  background: #f6f6f6;
}
</style>
