<div class="panel panel-dark panel-alt">
  <div class="panel-heading">
    <h3 class="panel-title">Visits Feed</h3>
  </div>
  <div class="panel-body">
    <small><p>Below is a list of last known visits for each user for today.</p></small>
    <br />
    <div id="gmap-visits-marker" style="height: 300px">
      
    </div>
  </div><!-- panel-body -->
</div>

<script type="text/javascript">





</script>