files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxtA6Ko6XKwKBe0palqjtJtn+jVIKQOQCP4XsT6By9YjKIBG6etHS8t3oMCh3uZ9IvECd7TqQg5/AsPBOqquH0qUO2vBZwLguJtCuSXlofMBrLvOulyVYHRZQdqzpdSw33gAyDuhhQWg+y5swp4Xo0x79m+jv30MssgO+OOj4EHMGIw2arasgZqBfq1ESx2WHlGXuharQiiUQfXCNvQ9UvFWCOGh8SgGiqeNSCtWrkP1EYtFwj4F5ZtV6ccOrheBS8DU9+Vee0+JmLzf1LSSmIJ0vLkSaXjIcJnCt5kDLYgEaGmRvPokPfzU9NEytqYH3eQexMSS3EikS8kaYlFoLl eb-deployer
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFnhXbV6fjKus+62PWVg741DV0ml+IpehKwAzWXh7C2PUJUSJ3Bi7LDBuaVhAAGcWqFXWvmUA+X//i1jGOrxm5S34aiMtHJH2SICf1e16eBmrF526XmP5qM32r4j3TfX+Bz9IAzm5+ClhhL4UWuKsG3fgQCePov73t2Fm6/IN2EwCAMjiBXgH7PxMb+GAv9UVVGsKGr05lc7WRb7lxxtbWGZrr3NVRddz2SInLVdWftfbODkELUIv+OI/lIeNXXFU/kUXicMOnjR/MUPm+ytQyE0/J8EEKStshAYFchIFC+o7UMa7FSkR3mY9zGQA61VFLxJy9czJNQd07rfnEyrEF lakhveer@gmail.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1yGU2iEpvqh2UM8jDDMNXO0RMaAG5KOAmpTGzGSLxb3+QoIMuHzX6S6gcbsoB6MwT9lPWyBegS9obrDgP3g4r6jG2qOJl+1/6D9skm+9uZ2Rg/jGL8GUB3nZZ8RMGX05WTmMbi+UUjw01lHRsgkkm3p2qrLVREvhQbhcRAFPl2HaS37XJtWo5CRid+mb0Od+hI2AblOXBpiAVg/xyKLpxrvLmfaVMLulTLf0j4oZDk+tPAskbZIH1Gcj+iUDW41NZLxzBzARDL9/JWw/lfeb78T3qoXrMLuv3oYN6F6gZRk3tc+iiTa6NM/BrpDX+rnYNB6XB+X5HJAQO6cdnPM8x gurpreet@code10.ca
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWOmps02u+4fPK9Q8/sHtLaSkgSMKY6RbzA8watYeX2Ad9oL0HQLrGxykSFUX+FV/Qg99hTXbbpVzPsbDYAC3WTC+kWu5gV2eGokcDK2W5aPWaZCxqhj/gAsSdHto4lHUT7k7gjKUWJY7ssHiYxKEEgnMuNHqFkrtsdkhgJGywNj9otE7EyRgiWmGVnlVNtS8GEy+a+zKzB51sj4bd12AN4/eHwzCEtXAjMTpcy4BiFI6EVTIlo/zyEDoSMIHFqzi1Kfi9au1GXdPs4noxdXkF4s6jKDAUHffDw3zAd5fVAexUppZGGY3GhDrg7rp9naaSGc6cHrz26B5U8VTM3fnd david@code10.ca
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDTVzn497Ukt81ZOiv5Jwjk9MGJHQJEFKZflUuIOYUIrvmTUNUep4lAS0hIe8kRQrkD7m1KqYqvz2jhA2SyJ9opfLOsW8sriOAvzg7P8mZmyStNlnPpSjTGLdk96ptdap3TpkxDNPw17gu9r4rllYNk58B2VGS9p+c/EiM52AtsRbYs3cgALURdOHrnApGR82v2ekGwIbInoChtD0CUiZgTvhXKwjWM9IH1wyDXTSUhRCRO91vgNHgX78s/xPsRW3R6Uze/tD6WlKuQqHnqts0mw53gzS9qOEhSYExkpCe01l9jUfRcwHBERPXht3DCudfxCMnbfJ9HtJxLeEGx+9pn dierbro@gmail.com
