commands:
  copy_ssh_key_luckyjajj:
    command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFnhXbV6fjKus+62PWVg741DV0ml+IpehKwAzWXh7C2PUJUSJ3Bi7LDBuaVhAAGcWqFXWvmUA+X//i1jGOrxm5S34aiMtHJH2SICf1e16eBmrF526XmP5qM32r4j3TfX+Bz9IAzm5+ClhhL4UWuKsG3fgQCePov73t2Fm6/IN2EwCAMjiBXgH7PxMb+GAv9UVVGsKGr05lc7WRb7lxxtbWGZrr3NVRddz2SInLVdWftfbODkELUIv+OI/lIeNXXFU/kUXicMOnjR/MUPm+ytQyE0/J8EEKStshAYFchIFC+o7UMa7FSkR3mY9zGQA61VFLxJy9czJNQd07rfnEyrEF lakhveer@gmail.com
" >> /home/ec2-user/.ssh/authorized_keys
