commands:
  copy_ssh_key_luckyjajj:
    command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDFnhXbV6fjKus+62PWVg741DV0ml+IpehKwAzWXh7C2PUJUSJ3Bi7LDBuaVhAAGcWqFXWvmUA+X//i1jGOrxm5S34aiMtHJH2SICf1e16eBmrF526XmP5qM32r4j3TfX+Bz9IAzm5+ClhhL4UWuKsG3fgQCePov73t2Fm6/IN2EwCAMjiBXgH7PxMb+GAv9UVVGsKGr05lc7WRb7lxxtbWGZrr3NVRddz2SInLVdWftfbODkELUIv+OI/lIeNXXFU/kUXicMOnjR/MUPm+ytQyE0/J8EEKStshAYFchIFC+o7UMa7FSkR3mY9zGQA61VFLxJy9czJNQd07rfnEyrEF lakhveer@gmail.com" >> /home/ec2-user/.ssh/authorized_keys
  copy_ssh_key_jajjg:
    command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1yGU2iEpvqh2UM8jDDMNXO0RMaAG5KOAmpTGzGSLxb3+QoIMuHzX6S6gcbsoB6MwT9lPWyBegS9obrDgP3g4r6jG2qOJl+1/6D9skm+9uZ2Rg/jGL8GUB3nZZ8RMGX05WTmMbi+UUjw01lHRsgkkm3p2qrLVREvhQbhcRAFPl2HaS37XJtWo5CRid+mb0Od+hI2AblOXBpiAVg/xyKLpxrvLmfaVMLulTLf0j4oZDk+tPAskbZIH1Gcj+iUDW41NZLxzBzARDL9/JWw/lfeb78T3qoXrMLuv3oYN6F6gZRk3tc+iiTa6NM/BrpDX+rnYNB6XB+X5HJAQO6cdnPM8x gurpreet@code10.ca" >> /home/ec2-user/.ssh/authorized_keys
  copy_ssh_key_david:
    command: echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWOmps02u+4fPK9Q8/sHtLaSkgSMKY6RbzA8watYeX2Ad9oL0HQLrGxykSFUX+FV/Qg99hTXbbpVzPsbDYAC3WTC+kWu5gV2eGokcDK2W5aPWaZCxqhj/gAsSdHto4lHUT7k7gjKUWJY7ssHiYxKEEgnMuNHqFkrtsdkhgJGywNj9otE7EyRgiWmGVnlVNtS8GEy+a+zKzB51sj4bd12AN4/eHwzCEtXAjMTpcy4BiFI6EVTIlo/zyEDoSMIHFqzi1Kfi9au1GXdPs4noxdXkF4s6jKDAUHffDw3zAd5fVAexUppZGGY3GhDrg7rp9naaSGc6cHrz26B5U8VTM3fnd david@code10.ca" >> /home/ec2-user/.ssh/authorized_keys
