<% content_for :pageheader do %>
  <h2><i class="fa fa-building"></i>Companies</h2>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row row-pad-5">
      <div class="col-md-10">
      </div>
      <div class="col-md-2">
        <a href="" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Company </a>
      </div>
    </div><!-- row -->
  </div>

  <div class="panel-body">
    <div class="row row-pad-5">
      <div class="col-md-12">
            <div class="clearfix mb30"></div>
            <p>Below are list of companies</p>
            <br />
            <div class="table-responsive">
            <table class="table table-striped" id="userTable">
                <thead>
                   <tr>
                     <!--  <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Role</th>
                      <th>Actions</th> -->
                   </tr>
                </thead>
                <tbody>
                  <%# @all_users.each do |user| %>
                    <tr>
                      <td><%#= user.email %></td>
                      <td><%#= user.first_name %></td>
                      <td><%#= user.last_name %></td>
                      <td>
                        <%# @user_roles_array = Array.new %>
                        <% #user.roles.each do |role| %>
                          <%# @user_roles_array.push(role.name) %>
                        <%# end %>
                        <%#= @user_roles_array.join(', ') %>
                      </td>
                      <td class="table-action">
                        <%#=link_to edit_user_path(user.id) do %>
                          <!-- <i class="fa fa-pencil"></i> -->
                        <%# end %>
                        <%#=link_to login_change_password_path(user.id) do %>
                          <!-- <i class="fa fa-lock"></i> -->
                        <%# end %>
                        <%#=link_to user_path(user.id), method: :delete, data: {confirm: 'Are you sure you want to delete this user?'} do %>
                          <!-- <i class="fa fa-trash-o"></i> -->
                        <%# end %>
                      </td>
                    </tr>
                  <%# end %>

                </tbody>
             </table>
            </div><!-- table-responsive -->
      </div>
    </div><!-- row -->
  </div><!-- panel-body -->

  <div class="panel-footer">
  </div><!-- panel-footer -->

</div>
    </div><!-- contentpanel -->
  </div><!-- mainpanel -->
</section>

<script>
  // jQuery(document).ready(function() {

  //   //"use strict";

  //   jQuery('#userTable').dataTable({
  //     "sPaginationType": "full_numbers"
  //   });

  // });
</script>