<% content_for :pageheader do %>
  <h2><i class="fa fa-bell"></i> Notifications</h2>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		<p>Create and see all your notifications here.</p>
	</div><!-- panel-head -->

	<div class="panel-body">
    <p>You have 0 Notifications</p>
	</div><!-- panel-body -->

	<div class="panel-footer">
	</div><!-- panel-footer -->
</div>		
