<% content_for :pageheader do %>
  <h2><i class="fa fa-bell"></i> Notifications</h2>
<% end %>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <!-- <h4 class="panel-title">Unread Notifications</h4> -->
    </div>
    <div class="panel-body", id="unread_items">
       <%=render 'notifications_details', notifications: @all_items%>
    </div>
  </div>
</div>
<!-- <div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Read Notifications</h4>
    </div>
    <div class="panel-body" id="read_items">
      <%#=render 'notifications_details', notifications: @read_items, read: true%>
    </div>
  </div>
</div> -->

<script type="text/javascript">

  $(document).on('click', ".mark_read", function(){
  	$('#preloader').css('opacity', 0.8);
    $('#preloader').show();
  })
</script>