<div id="account_transfer" class="modal fade account-transfer-add" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Transfer Account</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <h5>Account Owner:</h5>
                  <h5>Number of Accounts:</h5>
                </div>
              </div><!-- panel-body -->

              <div class="panel-footer">
                <button class="btn btn-primary">Transfer</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </div><!-- panel -->
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
