<div class="modal fade delete-future-meeting-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" id= "modal_cross_button" type="button">&times;</button>
        <br/>
      </div>
      <div class="modal-body">
        <div class="panel panel-default" style="text-align: center">
            <div class="panel-body">
              <div class="row row-pad-5">
                <p>Repeat occurrences of this meeting have been detected.<br />Delete all future meetings as well?</p>
              </div>
            </div>
            <button class="btn btn-default btn-sm" id="yes_delete_future_meeting">Yes</button>
            <button class="btn btn-default btn-sm" id="no_delete_future_meeting">No</button>
        </div><!-- panel -->
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->