<div class="modal fade delete-meeting-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-default" style="text-align: center">
            <div class="panel-body">
              <div class="row row-pad-5">
                <p>Are you sure to delete this meeting?</p>
              </div>
            </div>
            <button class="btn btn-default btn-sm" id="ok_delete_meeting">Yes</button>
            <button class="btn btn-default btn-sm" data-dismiss="modal">No</button>
        </div><!-- panel -->
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
