<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Schedule</h2>
<% end %>


<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default panel-alt">
      <div class="media padding10">
        <a class="pull-left">
          <% if !current_user.avatar_url.present? %>
            <img src="/assets/bootstrap/images/user.png" class="media-object" />
          <% else %>
            <img alt="" src="<%= current_user.avatar_url %>" class="thumbnail media-object" style="margin-bottom:0px; height:100px;">
          <% end %>
        </a>
        <div class="media-body event-body">
          <h3 class="subtitle-lined"><%= current_user.first_name rescue nil %> <%= current_user.last_name rescue nil%></h3>
          <small><%= current_user.time_zone %></small>
        </div>
      </div>
      <div class="ibox-content ibox-heading">
        <span class="badge " style="margin-top: -3px; background-color: white; color: #428BCA; border: 1px solid #428BCA;">scheduled</span>      
        <div class="btn-group mr5 pull-right">
          <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
            <i class="fa fa-cog mr5"></i><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="complete_meeting" href="#" data-toggle="modal" data-target=".conversation-complete-meeting-modal-form" data-id="99">Complete
                </a>
            </li>      
            <li>
                <a class="edit_meeting" href="#" data-toggle="modal" data-target=".conversation-edit-meeting-modal-form" data-id="99" data-invitees="me@dierbro.com, me+test@dierbro.com" data-title="TESTMEETING_edited" data-date="03/02/2016" data-time="01:37AM" data-starts-date="03/01/2016" data-starts-time="11:40PM" data-ends-date="03/02/2016" data-ends-time="12:40AM" data-body="TESTMEETING_editted">Edit</a>
            </li>
            <li>
                <a data-confirm="Are you sure to delete this meeting?" rel="nofollow" data-method="delete" href="/accounts/61/delete_meeting?item_id=99">Delete</a>
            </li>
          </ul>
        </div>
        <h3>Meeting Title Here</h3>
        <small><i class="fa fa-map-marker" style="margin-right:10px"></i>&nbsp;&nbsp;123 somewhere street, toronto</small><br />
        <small><i class="fa fa-calendar" style="margin-right:10px"></i>Tue Mar 01 2016</small><br />
        <small><i class="fa fa-clock-o" style="margin-right:10px"></i>11:40 PM to 12:40 AM</small><br />
      </div>
      <div class="panel-body">
        <button class="btn btn-xs btn-default pull-right mr5"><i class="fa fa-sign-in mr5"></i>Check In</button>
        <p>
          <span class="subheading">Agenda:<br></span>
          Place meeting agenda details here
        </p>
        <p>
          <span class="subheading">Notes:<br></span>
          Place meeting notes here
        </p>  
        <div class="row ci_footer">
            <div class="col-sm-10">
              <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i>Wed Mar 02 2016 at  1:37 AM<br>
              <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i>Gurpreet Jajj<br>
              <i class="fa fa-users tooltips mr10" data-toggle="tooltip" data-original-title="Invitees"></i>me@dierbro.com, me+test@dierbro.com
            </div>
            <div class="col-sm-2">
            </div>
        </div>
      </div>
    </div>
  </div><!-- col-->
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group mr5 pull-right">
          <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
              <i class="fa fa-plus-circle mr5"></i>Add
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".account-action-meeting">Schedule Meeting</a></li>
          </ul>
        </div>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div id="calendar"></div>
      </div>ยง
    </div><!-- row -->
  </div>
</div>

<script>
  jQuery(document).ready(function() {

    "use strict";

    /* initialize the calendar
     -----------------------------------------------------------------*/
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: false,
        droppable: false, // this allows things to be dropped onto the calendar
        events: [
            {
                id: 1,

                title: 'Follow up with Logan Automtive',
                start: new Date(y, m, d, 9, 0),
                end: new Date(y, m, d, 10, 0),
                allDay: false
            },
            {
                id: 1,

                title: 'Lunch Meeting with Harley Davidson',
                start: new Date(y, m, d, 12, 0),
                end: new Date(y, m, d, 14, 0),
                allDay: false
            },
            {
                id: 2,
                title: 'New Product Demo',
                start: new Date(y, m, d, 15, 0),
                end: new Date(y, m, d, 16, 0),
                allDay: false
            },
            {
                id: 3,
                title: 'Submission Reminder',
                start: new Date(y, m, d+1, 19, 0),
                end: new Date(y, m, d+1, 22, 30),
                allDay: false
            }
        ]
    });
	});
</script>
<style>
  .fc-event-inner {/* force events to be one-line tall */
    white-space: nowrap;
    overflow: hidden;
}

  /* Intimeline */
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}
.timeline-item .date {
  text-align: right;
  position: relative;
  padding-top: 30px;
}
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}
.timeline-item .content:hover {
  background: #f6f6f6;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.ibox-content {
    clear: both;
}
.ibox-content {

    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}
</style>
