<% content_for :pageheader do %>
  <h2><i class="fa fa-magnet"></i>Leads</h2>
  <div class="breadcrumb-wrapper">
    <span class="label">&nbsp;</span>
  </div>
<% end %>


<div class="row row-pad-5">
  <div class="col-md-3">
    <%= simple_form_for :search, method: :get do |f| %>
      <%= f.input :name_cont, wrapper: :vertical_input_group, label: false do %>
        <%= f.input_field :name_cont, class: "form-control", placeholder: "Search here ...", value: params[:search].try(:[], :name_cont) %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2 pull-right">
    <% #if can? :read, Leads %>
      <%= link_to new_lead_path, class: "btn btn-primary btn-block" do %><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Lead<% end %>
    <% #end %>
  </div>
</div><!-- row -->

<div class="mb30"></div>


