<% content_for :pageheader do %>
  <h2><i class="fa fa-magnet"></i>Leads</h2>
  <div class="breadcrumb-wrapper">
    <span class="label">Leads / Add Lead</span>
  </div>
<% end %>


<div class="mb30"></div>


