<% content_for :pageheader do %>
  <h2><i class="fa fa-cogs"></i>Settings</h2>
<% end %>
<%= form_tag settings_company_level_setting_path, method: :patch, class: "form-horizontal" do |f| %>
  <div class="profile-header">
    <div class="row row-pad-5">
      <div class="col-md-12 mb20">
        <!-- Nav tabs -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Authentication</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="authentication">
              <div class="row row-pad-5">
                <div class="form-group">
                  <label class="col-sm-4 control-label">User automatic logout after being idle for</label>
                  <div class="col-sm-4">
                    <%=select_tag('automatic_logout',options_for_select(automatic_logout_select_options, selected: @session_expire_time), prompt: '-select-', class: "form-control")%>
                  </div>
                </div>
              </div><!-- row pad 5-->
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Quota</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="quota">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Preferences</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="preferences">
              <div class="row row-pad-5">
                <!-- <div class="form-group">
                    <label class="col-sm-4 control-label">Preview Timeline(<span title="Preview Timeline">?</span>)</label>
                    <div class="col-sm-4">
                      <%#=select_tag('perview_timeline',options_for_select(perview_timeline_select_options), prompt: '-select-', class: "form-control")%>
                    </div>
                </div> -->
                <div class="form-group">
                  <label class="col-sm-4 control-label">Show Accounts per page</label>
                  <div class="col-sm-4">
                    <%=select_tag('account_per_page',options_for_select(account_per_page_select_options, selected: @account_per_page), prompt: '-select-', class: "form-control")%>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Default show accounts by account status(es)</label>
                  <div class="col-sm-4">
                     <select class="form-control select2" id="accounts_by_status" multiple="multiple" name="accounts_by_status[]" data-placeholder="-select-">
                     <option></option>
                       <%=options_for_select(account_by_account_status_select_options, selected: @account_by_status)%>
                      </select>
                  </div>
                </div>
              </div><!-- row -->
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Dashboard</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="dashboard">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Schedule</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="schedule">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Accounts</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="accounts">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Media</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="media">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Reports</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="reports">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Notifications</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="notifications">
              <div class="row row-pad-5">
                <div class="col-md-8">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-footer">
            <div class="row row-pad-5">
              <div class="col-sm-8 col-sm-offset-5">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- col- -->
    </div><!-- row -->
  </div><!-- profile-header -->
<%end%>
<script type="text/javascript">
  $("#accounts_by_status").select2({
    width: '100%',
  });
</script>