<% content_for :pageheader do %>
  <h2><i class="fa fa-user"></i> My Preference</h2>
<% end %>

    <%= simple_form_for current_user, url: profile_path, method: :patch do |f| %>
      <div class="panel panel-default">

      	<div class="panel-heading">
      		<p>Edit your preference below and click save</p>
      	</div>

      	<div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Preference Option 1</label>
            <div class="col-sm-6">
               Options 1 Here
            </div>
          </div>
        </div> <!-- panel-body -->

      	<div class="panel-footer">
      		<div class="row">
      			<div class="col-sm-6 col-sm-offset-3">
      				<button type="submit" class="btn btn-primary" name="save" id="save">Save</button>&nbsp;
      				<a class="btn btn-default" href="/users">Cancel</a>
      			</div>
      		</div>
      	</div><!-- panel-footer -->
    <% end %>

    </div><!-- contentpanel -->

  </div><!-- mainpanel -->

</section>

<style>
</style>


<script>
</script>
