$base-color:#209b60;
@import 'colors';
@import 'slider';
@import 'buffer';
@import 'fonts';
@import 'theme';
@import 'scrollbar';
@import 'animation-slider';
@import 'gallery';
@import 'buttons';
$full:100%;

body{
	overflow-x:hidden;
}
.full-screen,html,body{
	height:$full;
	width:$full;
}
.full-height{
	min-height:$full;
}
.half-height{
	height:$full/1.2;
}
.full-width {
	width:$full;
}
.content{
	overflow:auto;
}
.center{
	width:$full;
	margin:0 auto;
}