        <div class="profile-header">
            <div class="row">
            </div>  
            
            <div class="row">
              
              <div class="col-sm-3">
                <img src="/assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail img-responsive" alt="">    
                <div class="mb30"></div>

            
              </div><!-- col-sm-3 -->           
                  
              <div class="col-sm-9">
                <h2 class="profile-name">Harley Davison Motor Company</h2> 
                <div class="mb30"></div>  
                <p>Company Information detail</p>
                <br />
                <div class="mb30"></div> 
                
                <div class="row">
                    <div class="col-xs-3">
                        <small><strong>Account Status</strong></small>
                        <h6><span class="badge" style="background-color: #0eb057; border-color: #0eb057;">Open</span> </h6>
                    </div>                  
                    <div class="col-xs-3">
                        <small><strong>Assigned To</strong></small>
                        <h6>Micheal Jordan</h6>
                    </div>
                    <div class="col-xs-3">
                        <small><strong>Last Update</strong></small>
                        <h6>Oct 10, 2016 @ 2:30pm</h6>
                    </div>
                    <div class="col-xs-3">
                        <small><strong>Updated By</strong></small>
                        <h6>Charles Barkley</h6>
                    </div>                  
                </div>          
            
              </div><!-- col-sm-9 -->
              <div class="mb30"></div>  
              
            </div><!-- row -->

            <div class="row row-pad-5">
                <div class="col-md-12 mb20">
                      
                    <h5 class="subtitle mb5">Company Information</h5>
                    <p>Company Information detail</p>
                    <br />
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-dark">
                      <li class="active"><a href="#organization" data-toggle="tab"><strong>Organization</strong></a></li>
                      <li><a href="#settings" data-toggle="tab"><strong>Settings</strong></a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content mb30">
                      <div class="tab-pane active" id="status">
                        <h4 class="dark">Organization Header</h4>
                        <p>Organization Info here.</p>
                      </div>
                      <div class="tab-pane" id="settings">
                        <h4 class="dark">Settings Header</h4>
                        <p>Settings Info here.</p>
                      </div>
                    </div>
                    
                </div> <!-- col- -->

            </div><!-- row -->          
    
        </div><!-- profile-header -->
    </div>

</div><!-- mainpanel -->
</section>

<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>

<script src="/assets/bootstrap/js/morris.min.js"></script>
<script src="/assets/bootstrap/js/raphael-2.1.0.min.js"></script>
<script src="/assets/bootstrap/js/chosen.jquery.min.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>