					<ul class="nav nav-tabs nav-dark">
                        <li class="active"><a data-toggle="tab" href="#status"><strong>Status</strong></a></li>
                        <li><a data-toggle="tab" href="#company_details"><strong>Company Details</strong></a></li>
                        <li><a data-toggle="tab" href="#organization"><strong>Organization</strong></a></li>
                        <li><a data-toggle="tab" href="#settings"><strong>Settings</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="status" class="tab-pane active">            
                        Company Status displays here
                        </div><!-- tab-pane -->
                        
                        <div id="company_details" class="tab-pane">
                        Company Details displays here
                        </div><!-- tab-pane -->
                        
                        <div id="organization" class="tab-pane">
                        Company Organization displays here
                        </div><!-- tab-pane -->
                        
                        <div id="settings" class="tab-pane">
                        Company Settings displays here
                        </div><!-- tab-pane -->
                        
                    </div><!-- tab-content -->


<script src="assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/modernizr.min.js"></script>
<script src="assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="assets/bootstrap/js/toggles.min.js"></script>
<script src="assets/bootstrap/js/retina.min.js"></script>
<script src="assets/bootstrap/js/jquery.cookies.js"></script>

<script src="assets/bootstrap/js/morris.min.js"></script>
<script src="assets/bootstrap/js/raphael-2.1.0.min.js"></script>
<script src="assets/bootstrap/js/chosen.jquery.min.js"></script>

<script src="assets/bootstrap/js/custom.js"></script>