	<div class="row row-pad-5">
            <div class="col-md-12 mb20">
                  
                <h5 class="subtitle mb5">Company Information</h5>
                <p>Company Information detail</p>
                <br />
                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-dark">
                  <li class="active"><a href="#status" data-toggle="tab"><strong>Status</strong></a></li>
                  <li><a href="#company_details" data-toggle="tab"><strong>Company Details</strong></a></li>
                  <li><a href="#organization" data-toggle="tab"><strong>Organization</strong></a></li>
                  <li><a href="#settings" data-toggle="tab"><strong>Settings</strong></a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content mb30">
                  <div class="tab-pane active" id="status">
                    <h4 class="dark">Company Status Header</h4>
                    <p>Status Info here.</p>
                  </div>
                  <div class="tab-pane" id="company_details">
                    <h4 class="dark">Company Details Header</h4>
                    <p>Company Details Info here.</p>
                  </div>
                  <div class="tab-pane" id="organization">
                    <h4 class="dark">Organization Header</h4>
                    <p>Organization Info here.</p>
                  </div>
                  <div class="tab-pane" id="settings">
                    <h4 class="dark">Settings Header</h4>
                    <p>Settings Info here.</p>
                  </div>
                </div>
                
            </div> <!-- col- -->

        </div><!-- row -->

    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
  
</section>

<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>

<script src="/assets/bootstrap/js/morris.min.js"></script>
<script src="/assets/bootstrap/js/raphael-2.1.0.min.js"></script>
<script src="/assets/bootstrap/js/chosen.jquery.min.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>