<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Front-end Software Version: <%= APP_CONFIG['software_version'] %> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title><%= APP_CONFIG['software_title'] %></title>

  <link href="/assets/bootstrap/css/style.default.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/assets/bootstrap/js/html5shiv.js"></script>
  <script src="/assets/bootstrap/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">
	
	
	<section>
	  
	    <div class="signinpanel">
	    
			<div class="row">
			
				
		</div><!-- row -->
    
    </div><!-- signin -->
  
</section>


<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>

<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>

</body>
</html>






