/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 
 * -- general
 *= require bootstrap/style.default
 *= require bootstrap/fullcalendar
 *= require bootstrap/colorpicker

 * -- timepicker style --
 *= require bootstrap/bootstrap-timepicker.min

 * -- tag input style --
 *= require bootstrap/jquery.tagsinput

 *-- photo cropper style --
 *= require bootstrap/cropper.min 

 * -- vertical tiemline --
 *= require vertical-timeline/style 

 * -- datatable style --
 *= require bootstrap/jquery.datatables 
 
 *= require bootstrap/bootstrap-editable
 *= require bootstrap/jquery.gritter

 * -- morris charts --
 *= require bootstrap/morris 

 * -- editor
 *= require wyshtml5/wyshtml5
 *= require wyshtml5/wyshtml5-color

 * -- photo --
 *= require bootstrap/prettyPhoto

 * -- custom styles
 *= require focus/style.focus
 *= require custom.scss 


 */

  /* Intimeline */
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}
.timeline-item .date {
  text-align: right;
  position: relative;
  padding-top: 30px;
}
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}
.timeline-item .content:hover {
  background: #f6f6f6;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-content {
  clear: both;
}
.ibox-content {
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
