.folder-list.indent-left-list{
  margin-left: 15px;
}
.main-folder{
  color: #666;
}
.main-folder:hover{
  color: #333;
  text-decoration: none;
}
.entry-modal{
	padding: 30px;
}
ul.table_head{width: 100%;
  float: left;
  margin: 0px;
  padding: 0px;
}
ul.table_head li{    width: 33.33%;
  float: left;
  font-weight:bold;
  padding: 5px;
  list-style: none;
}
ul.table_head ul.second_tree, ul.table_head ul.three_tree{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.table_head.table_content li{font-weight:normal}
ul.table_head li a{color:#666}
ul.table_head ul.second_tree li.first_li {
  padding-left: 15px
}
ul.table_head li.first_li{width:20%}
ul.table_head li.second_li{width:70%;}
ul.table_head li.third_li{
  width:10%;
  float:right;
}
ul.table_head ul.three_tree li.first_li {
  padding-left: 20px;
}
ul.table_head ul.second_tree li.second_li{padding-left:17px;}
ul.table_head.plus_icon{
  background: url("/assets/images/plus_icon.png") no-repeat 3px 8px;
  padding-left: 14px;
  margin-left: -14px;
  background-size: 12px;
}
ul.table_head.minus_icon{
  background: url('/assets/images/minus_icon.png')  no-repeat 3px 8px;
  padding-left: 14px;
  margin-left: -14px;
  background-size: 12px;
}
ul.table_head ul.second_tree.plus_icon{
  background: url("/assets/images/plus_icon.png") no-repeat 3px 8px;
  padding-left: 6px;
  margin-left: 0;
  background-size: 12px;
}
ul.table_head ul.second_tree.minus_icon{
  background: url('/assets/images/minus_icon.png')  no-repeat 3px 8px;
  padding-left: 6px;
  margin-left: 0;
  background-size: 12px;
}
ul.table_head ul.three_tree.plus_icon{
  background: url("/assets/images/plus_icon.png") no-repeat 3px 8px;
  padding-left: 6px;
  margin-left: 0;
  background-size: 12px;
}
ul.table_head ul.three_tree.minus_icon{
  background: url('/assets/images/minus_icon.png')  no-repeat 3px 8px;
  padding-left: 6px;
  margin-left: 0;
  background-size: 12px;}
.pac-container {
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal{
  z-index: 20;
}
.modal-backdrop{
  z-index: 10;
}
#tags, #edit_tags{
  float:left;
  font-family:Arial;
}
#tags > span, #edit_tags > span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags > span:hover, #edit_tags > span:hover{
  opacity:0.7;
}
#tags > span:after, #edit_tags > span:after{
 position:absolute;
 content:"×";
 padding:0px 5px;
 margin-left:3px;
 font-size:14px;
}
#tags > input#tag_input, #edit_tags > input#edit_tag_input{
  border:0;
  margin:4px;
  padding:6px;
  width:auto;
}
#tags > input#tag_input:focus, #edit_tags > input#edit_tag_input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}
.invitee_emails{
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.ui-menu .ui-menu-item a{
  color: #666;
  cursor: pointer;
}
.ui-autocomplete{
  background: #fff;
  border: 1px solid #ccc;
}
body.modal-open {
  position: fixed;
}

.hight_145{
  height: 165px;
}

.panel-stat i {
  font-size: 30px;
  border: 1px solid #fff;
  padding: 18px;
  border-radius: 50%;
  opacity: 1.0;
}

.panel_color{
  background-color: #666 !important;
}

.tiles-font{
  font-size: 23px  !important;
  margin: 0 !important;
  line-height: 36px !important;
  font-family: 'Helvetica Neue', sans-serif !important;
  color: white !important;
}

.chart-height{
  height: 200px !important;
}

