<% content_for :pageheader do %>
  <h2><i class="fa fa-user"></i>Edit User</h2>
<% end %>
<%=render 'form'%>

<script type="text/javascript">
	$( document ).ready(function(){
		$("#locality").attr('readonly', false);
		$("#subpremise").attr('readonly', false);
    $('#administrative_area_level_1').attr('readonly', false);
    $('#country').attr('readonly', false);
    $('#postal_code').attr('readonly', false);
	});
</script>