<% if @sorted_citems[:reminder].count == 0 %>
  <p>Looks like there was no reminder scheduled for this date range</p>
<% else %>  
  <div class="table-responsive">
    <table class="table table-hover mb30">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_citems[:reminder].each do | reminder | %>
          <tr>
            <td><%= reminder.title %></td>
            <td><%= reminder.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%b %d") %></td>
            <td>
              <div class="table-controls">
                  <a href="#" class="btn btn-default btn-icon btn-xs tip" title="View" data-original-title="View"><i class="fa fa-search-plus"></i></a>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>