<div class="modal fade check-in-check-out-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Check In or Check Out</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-body">
            <a class="check_in" href="#" style="display:none;" data-method='post'><i class="fa fa-sign-in mr5"></i>Check In</a>
            <a class="check_out" href="#" style="display:none;" data-method='post'><i class="fa fa-sign-in mr5"></i>Check Out</a>
            </div><!-- panel-body -->
            <div class="panel-footer">
            </div>
        </div><!-- panel -->
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
