<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Meetings</h2>
<% end %>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Meeting Report Form</h4>
    </div>
    <div class="panel-body">
      <%=form_tag meeting_report_result_path, method: :get do%>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Start Date</label>
              <%if mobile?%>
                <input id="from_datepicker" type="date" name="search[date_gteq]" required="required" placeholder="Start Date"/>
              <%else%>
                <input type="text" name="search[date_gteq]" class="form-control" placeholder="Start Date" id="from_datepicker" required="required">
              <%end%>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">End Date</label>
              <%if mobile?%>
                <input id="to_datepicker" type="date" name="search[date_lteq]" required="required" placeholder="End Date"/>
              <%else%>
                <input type="text" class="form-control" name="search[date_lteq]" placeholder="End Date"id="to_datepicker" required="required">
              <%end%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Users</label>
          <select class="select2" id="select_users" name="users[]" multiple="multiple" required="required" class="form-control" data-placeholder="Filter report by user(s)">
            <%= options_for_select(User.all(uid: session[:user_id], reload: true).collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }, selected: current_user.id) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Get Report</button>
        <button type="reset" class="btn btn-default">Reset</button>
      <%end%>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#select_users").select2({
    width: '100%'
  });
  if(mobile == 'false'){
    $('#from_datepicker, #to_datepicker').datepicker({
      dateFormat: 'mm/dd/yy',
      altField: "#to_datepicker",
      altFormat: "mm/dd/yy",
      onSelect: function (selected) {
        var dt = new Date(selected);
        dt.setDate(dt.getDate());
        $("#to_datepicker").datepicker("option", "minDate", dt);
      }
    });
  }else{
    $('#from_datepicker').on('change', function() {
      $('#to_datepicker').prop('min', $(this).val());
      $('#to_datepicker').val($(this).val());
    });
  }
</script>