<% content_for :pageheader do %>
  <h2><i class="fa fa-bar-chart-o"></i> Sales</h2>
<% end %>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Sales Report Form</h4>
    </div>
    <div class="panel-body">
      <%=form_tag sales_report_result_path, method: :get do%>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label">Period</label>
          <%=select_tag('search[period]', options_for_select([['Today', 'today'],['Yesterday', 'yesterday'],['Current Week', 'current_week'],['Current Month', 'current_month'],['Current Year', 'current_year'],['Last Week', 'last_week'],['Last Month', 'last_month'],['Last Year', 'last_year'],['Custom', 'custom']]), {prompt: "-- Select --", :class => 'form-control', required: true})%>
            </div>
          </div>
          <div class="col-sm-9"></div>
        </div>
        <div class="row" id="custom_date_search_report">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label"></label>
              <%if mobile?%>
                <input class="report_from_datepicker" type="date" name="search[date_gteq]" placeholder="Start Date"/>
              <%else%>
                <input type="text" name="search[date_gteq]" class="form-control report_from_datepicker" placeholder="Start Date">
              <%end%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="control-label"></label>
              <%if mobile?%>
                <input  class="report_to_datepicker" type="date" name="search[date_lteq]" placeholder="End Date"/>
              <%else%>
                <input type="text" class="form-control report_to_datepicker" name="search[date_lteq]" placeholder="End Date">
              <%end%>
            </div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-12"><br /></div>
        </div>
        <div class="form-group">
          <%if current_user.roles.last.try(:name) != 'User'%>
            <label class="control-label">Users</label>
            <select class="select2" id="select_users" name="users[]" multiple="multiple" required="required" class="form-control" data-placeholder="Filter report by user(s)">
              <%= options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }, selected: current_user.id) %>
              <% if @users.count > 1 %>
                <option value="all">All</option>
              <% end %>
            </select>
          <%end%>
        </div>
        <button type="submit" class="btn btn-primary">Get Report</button>
        <button type="reset" class="btn btn-default">Reset</button>
      <%end%>
    </div>
  </div>
</div>


<script>
  $("#custom_date_search_report").hide();
  $(".report_from_datepicker").removeAttr('required');

  $('#search_period').change(function(){
    if ($(this).val() == 'custom') {
      $("#custom_date_search_report").show();
      $(".report_from_datepicker").attr('required', 'true');
    } else {
      $("#custom_date_search_report").hide();
      $(".report_from_datepicker").removeAttr('required');
    }
  });



</script>