 <div class="panel-body panel-body-nopadding">
  <!-- BASIC WIZARD -->
  <div id="validationWizard" class="basic-wizard">

    <ul class="nav nav-pills nav-justified">
      <li><a href="#tab1" data-toggle="tab"><span>Step 1:</span> Download CSV Template</a></li>
      <li><a href="#tab2" data-toggle="tab"><span>Step 2:</span> Upload CSV File</a></li>
    </ul>
    <%= form_tag account_batch_notes_path, id: "account-import-form", multipart: true, method: :post do |f| %>
      <div class="tab-content">
        <div class="tab-pane" id="tab1">
          <p class="mb20" align="center"><%=link_to 'Download CSV template and fill in the conversation items information.', accounts_notes_csv_template_path(format: "csv")%></p>
        </div>

        <div class="tab-pane" id="tab2">
          <div class="col-md-3"></div>
          <div class="col-md-4 padd_left0">
            Upload the CSV file with the conversation items information
          </div>
          <div class="col-md-4 padd_left0">
            <%=file_field_tag "import_csv", accept: 'text/csv' %>
          </div>
        </div>
      </div><!-- tab-content -->
    <% end %>
    <ul class="pager wizard">
      <li class="previous"><a href="javascript:void(0)">Previous</a></li>
      <li class="next"><a href="javascript:void(0)" class="">Next</a></li>
      <li class="next finish" style="display:none;"><a href="javascript:;">Import</a></li>
    </ul>
  </div><!-- #validationWizard -->
</div><!-- panel-body -->
