<div class="modal fade account-action-email" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Email</h4>
        </div>
        <div class="modal-body">
	    <%= form_tag(account_send_email_url) do |f| %>
        <p>Send an email by filling in the details below:</p>
        <div class="panel panel-default">
              <form>
            <div class="panel-body">
              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="email" name="conversation_item[email]" placeholder="To" class="form-control"  required="required" />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="conversation_item[title]" placeholder="Subject" class="form-control" required="required"  />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <textarea class="form-control wysihtml5" rows="5" id="email_new_editor" placeholder="Message" required="required" name="conversation_item[body]"></textarea>
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <div class="ckbox ckbox-primary">
                    <input type="checkbox" id="send-later">
                    <label for="send-later">Send Later?</label>
                  </div>
                </div>
              </div>

              <div id="email-sendlater-settings">
	              <div class="row row-pad-5">

	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <%if mobile?%>
                        <input id="scheduledDatePicker" type="date" name="scheduled_date"/>
                      <%else%>
	                      <input name="scheduled_date" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" id="scheduledDatePicker"/>
                      <%end%>
	                   </div>
	                </div>

	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	                    <div class="bootstrap-timepicker">
                      <%if mobile?%>
                        <input name="scheduled_time" id="scheduledTimePicker" type="time" step=300 />
                      <%else%>
                        <input name="scheduled_time" id="scheduledTimePicker" type="text" class="form-control"/>
                      <%end%>
                      </div>
	                  </div>
	                </div>
	              </div>
			        </div>


              <input type="hidden" name="conversation_item[account_id]" value=<%= @account.id %> >
            </div><!-- panel-body -->
            <div class="panel-footer">
              <!-- <button class="btn btn-primary">Send Email</button> -->
              <%=submit_tag 'Send Email',  data: {disable_with: "Sending..." }, class: "btn btn-primary"%>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </div><!-- panel -->
        <% end %>
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->