<div class="modal fade conversation-quote-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Add Quote</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(account_add_quote_url) do %>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[title]" placeholder="Title" class="form-control" required="required" />
                  </div>
                </div>
                <input type="hidden" name="conversation_item[status]" value="open">
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <div class="input-group">
                      <span class="input-group-addon">$</span>
                      <input type="text" name="conversation_item[amount]" placeholder="Amount" class="form-control amount_val" required="required"/>
                    </div>
                  </div>
                </div>
                <%unless account.present?%>
                  <div class="row row-pad-5">
                    <div class="col-lg-12 country_select">
                      <select class="form-control select2" name="id" placeholder="-Select account-" required="required">
                      <option value="">-Select account-</option>
                       <%Account.all.each do |a|%>
                          <option value="<%=a.id%>"><%=a.name%></option>
                       <%end%>
                      </select>
                    </div>
                  </div><!-- row -->
                  <input type="hidden" name="add_from_schedule" value= "true">
                <%end%>
                <div class="row row-pad-5">
                  <div class="col-lg-4">
                    <label class="radio-inline">
                      <input type="radio" name="expires" class="exp_in" checked>Expires in
                    </label>
                  </div>
                  <div class="col-lg-3">
                    <div class="row">
                      <div class="col-xs-7">
                        <input type="number" value='30' class="form-control get_date" rows="5" name="expires_in" required="required" />
                      </div>
                      <div class="col-xs-5 pull-left">
                        <p style="padding-top:10px;padding-right:10px;padding-bottom:10px;">days</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" class="form-control display_date" style="border-width: 0px; background-color: white;" disabled="true" />
                  </div>
                </div>


                <div class="row row-pad-5">
                  <div class="col-lg-4">
                    <label class="radio-inline">
                      <input type="radio" name="expires" class= "exp_after">Expires after
                    </label>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <%if mobile?%>
                        <input class="set_date" type="date" name="expires_after" disabled="true"/>
                      <%else%>
                        <input type="text" class="form-control datepicker set_date" placeholder="mm/dd/yyyy" name="expires_after" disabled="true"/>
                      <%end%>
                     </div>
                  </div>
                </div>

                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <textarea class="form-control wysihtml5" id="new_quote" rows="5" placeholder="Description" name="conversation_item[body]"></textarea>
                  </div>
                </div>

                <div class="row row-pad-5">
                  <div class="col-lg-6">
                    <div class="ckbox ckbox-primary">
                      <input type="checkbox" id="quote-reminder" name="conversation_item[reminder]">
                      <label for="quote-reminder">Set a Custom Reminder?</label>
                    </div>
                  </div>
                </div>

                <div id="quote-reminder-settings">
                  <div class="row row-pad-5">
                    <div class="col-lg-5">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <%if mobile?%>
                          <input class="clear_date" type="date" name="follow_date"/>
                        <%else%>
                          <input type="text" class="form-control datepicker clear_date" placeholder="mm/dd/yyyy" id="" name="follow_date"/>
                        <%end%>
                       </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <div class="bootstrap-timepicker"><input type="text" class="form-control follow_time" name="follow_time"/></div>
                      </div>
                    </div>
                  </div>
                </div>
                <%if account.present?%>
                 <input type="hidden" name="id" value="<%=account.id%>">
                <%end%>
                <input type="hidden" name="conversation_item[type]" value="quote" >
              </div><!-- panel-body -->
              <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
          </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->

<script type="text/javascript">
  $('.follow_time').timepicker({
    minuteStep: 15
  });

  var final_date
  function getdate(e) {
    var current_date = new Date();
    current_date.setDate(current_date.getDate() + parseInt(e));
    final_date = ('0' + (current_date.getMonth()+1)).slice(-2) + '/' + ('0' + current_date.getDate()).slice(-2) + '/' + current_date.getFullYear();
    // var dd = current_date.getDate();
    // var mm = current_date.getMonth()+1;
    // var y = current_date.getFullYear();
    // final_date = mm + '/' + dd + '/' + y;
  }

  $(".get_date").change(function(){
    var d = $(this).val()
    getdate(d)
    $(".display_date").val(final_date)
  })

  $(".conversation-quote-modal-form").on("shown.bs.modal", function(){
    getdate(30);
    $(".get_date").val(30);
    $(".display_date").val(final_date);
  });
</script>