 <span><a href="javascript:void(0);" class="add_attachment"><i class="fa fa-plus" aria-hidden="true"></i>Attachment(s)</a></span>
  <div class="drop_zone_height hidden">
    <div class="col-lg-12 dropzone drop_zon_box drop_zon_box_for_edit">
      <input type="hidden" name="conversation_item[id]" id="conversation_id_for_edit">
      <input type="hidden" name="upload_info" value="upload_from_edit" id="upload_info_for_edit">
    </div>
    <div class="col-lg-12 dropzone_edit_upload">
  		<button type="button" class="btn btn-primary" id="submit_upload_edit">Upload</button>
    </div>
  </div>