<div class="modal fade conversation-note-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Add Note</h4>
      </div>
      <div class="modal-body">
        <%= form_tag account_add_note_path, id: 'submit_note' do %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="conversation_item[subject]" placeholder="Title" class="form-control" required="required" />
                </div>
              </div>

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <textarea class="form-control wysihtml5" id="new_editor" rows="5" placeholder="Message" required="required" name="conversation_item[body]"></textarea>
                </div>
              </div>
              <%=render "conversation_upload"%>
              <input type="hidden" name="conversation_item[account_id]" value=<%= @account.id %> >
              <input type="hidden" name="conversation_item[type]" value="note" >
            </div><!-- panel-body -->
            <div class="panel-footer">
              <%=submit_tag 'Save',  data: {disable_with: "Saving..." }, class: "btn btn-primary save_btn", id: "submit_dropzone_form"%>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          </div><!-- panel -->
        <% end %>
        <!-- <div class="panel panel-default"> -->
        <!-- </div> -->
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->