<div class="modal fade conversation-reminder-modal-form" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Add Reminder</h4>
      </div>
      <div class="modal-body">
        <%= form_tag account_add_reminder_path, enctype: "multipart/form-data", id: 'submit_conversation_reminder_form', remote: :true do %>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[subject]" placeholder="Title" class="form-control" required="required" />
                  </div>
                </div>
                <%unless account.present?%>
                  <div class="row row-pad-5">
                    <div class="col-lg-12 country_select">
                      <select class="form-control select2 get_notifiable_users selected_account add_remote_option" name="id" placeholder="-Select account-" required="required">
                        <option value="">-Select account-</option>
                      </select>
                    </div>
                  </div><!-- row -->
                  <input type="hidden" name="add_from_schedule" value= "true">
                <%end%>
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <textarea class="form-control wysihtml5" id="new_reminder" rows="5" placeholder="Message" name="conversation_item[body]"></textarea>
                  </div>
                </div>

                <div class="row row-pad-5">
                  <div class="col-lg-5">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <%if mobile?%>
                        <input id="reminderDatePicker" type="date" name="scheduled_date" required="required"/>
                      <%else%>
                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="reminderDatePicker" name="scheduled_date" required="required" />
                      <%end%>
                     </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                      <div class="bootstrap-timepicker">
                        <%if mobile?%>
                          <input type="time" name="scheduled_time" id="reminderTimePicker" step=900 max="23:59" required="required" />
                        <%else%>
                          <input id="reminderTimePicker" type="text" class="form-control" name="scheduled_time" required="required"/>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <h5>Notify Who?</h5>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <select class="form-control select2" id="notifiable_users" multiple="multiple" name="conversation_item[users_to_notify_ids][]" required="required">
                    <%unless account.present?%>
                      <option></option>
                    <%end%>
                    </select>
                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col-lg-6">
                    <h5>How do you like to be reminded?</h5>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-6">
                    <div class="ckbox ckbox-primary">
                      <input type="checkbox" id="reminder-email" name="conversation_item[notify_by_email]">
                      <label for="reminder-email">Email</label>
                    </div>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-6">
                    <div class="ckbox ckbox-primary">
                      <input type="checkbox" id="reminder-sms" name="conversation_item[notify_by_sms]">
                      <label for="reminder-sms">SMS Text</label>
                    </div>
                  </div>
                </div><!-- row -->
                <div id="render_upload_partial_for_reminder">
                  <%if @account.present?%>
                    <%=render "accounts/conversation_upload", box_for: 'reminder', account: @account%>
                  <%end%>
                </div>
                <%if account.present?%>
                 <input type="hidden" name="id" value="<%=account.id%>">
                <%end%>
                <input type="hidden" name="conversation_item[type]" value="reminder" >
                <input type="hidden" name="user_selected" class="user_selected_id" value= "">
              </div><!-- panel-body -->
              <div class="panel-footer">
                <%=submit_tag 'Save',  data: {disable_with: "Saving..." }, class: "btn btn-primary save_btn", id: "submit_reminder_form"%>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
          </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->

<script type="text/javascript">
  $(".conversation-reminder-modal-form").on("shown.bs.modal", function(){
    $(".user_selected_id").val($("#schedule_user_list").val());
  });
</script>
