<%if citem.media.present?%>
  <div>
    <p><span class="subheading">ATTACHMENT(S):</span></p>
    <ul style="list-style: none;padding-left: 3px">
      <%citem.media.each do |media|%>
        <li>
          <%=link_to media.urls.try(:original) do%>
            <img src="<%=media.urls.try(:thumb)%>" class="thumbnail img-responsive" alt="">
            <!-- <i class="fa fa-file-image-o" aria-hidden="true"></i> <%#=media.name%> -->
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>
<%end%>