<div class="modal fade account-action-meeting" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Schedule Meeting</h4>
        </div>
        <div class="modal-body">
        <p>Follow the steps to schedule a meeting</p>
        <div class="panel panel-default">
              <form>
            <div class="panel-body">

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="scheduleTitle" placeholder="Event" class="form-control" required="required" />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="scheduleLocation" placeholder="Add Location" class="form-control" required="required" />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input name="tags" id="tags" class="form-control" value="" />
                </div>
              </div><!-- row -->
              
              <div class="row">
	              <div class="col-lg-4">
	              <h5>Starts</h5>
	              </div>
              </div>

              <div class="row row-pad-5">
                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" class="form-control" placeholder="dd/mm/yy" id="scheduleFromDatePicker" required="required" />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="bootstrap-timepicker"><input id="scheduleFromTimePicker" type="text" class="form-control" required="required" /></div>
                  </div>
                </div>
              </div><!-- row -->


              <div class="row">
	              <div class="col-lg-4">
	              <h5>Ends</h5>
	              </div>
              </div>

              <div class="row row-pad-5">
                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" class="form-control" placeholder="dd/mm/yy" id="scheduleToDatePicker" required="required" />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="bootstrap-timepicker"><input id="scheduleToTimePicker" type="text" class="form-control" required="required" /></div>
                  </div>
                </div>
              </div><!-- row -->         

              <div class="row row-pad-5">
                <div class="col-lg-12 mb15">
                  <textarea class="form-control" rows="5" placeholder="Notes" required="required"></textarea>
                </div>
              </div><!-- row -->

            </div><!-- panel-body -->
            <div class="panel-footer">
              <button class="btn btn-primary">Save</button>
              <button type="reset" class="btn btn-default">Reset</button>
                  </div>
              </form>
        </div><!-- panel -->
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
