<div class="modal fade conversation-quote-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Add Quote</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(account_add_quote_url) do %>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[title]" placeholder="Title" class="form-control" required="required" />
                  </div>
                </div>
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                   <select class="form-control" name="conversation_item[status]" required="required">
                      <option value=''>-select status-</option>
                      <option value="open">Open</option>
                      <option value="accepted">Accepted</option>
                      <option value="rejected">Rejected</option>
                      <option value="closed">Closed</option>
                  </select>
                  </div>
                </div>
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[amount]" placeholder="Amount" class="form-control"/>
                  </div>
                </div>
                <div class="row row-pad-5">
                  <div class="col-lg-4">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" id="" name="follow_date" required="required" />
                     </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                      <div class="bootstrap-timepicker"><input type="text" class="form-control follow_time" name="follow_time" required="required"/></div>
                    </div>
                  </div>
                </div>
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <textarea class="form-control wysihtml5" id="new_quote" rows="5" placeholder="Description" required="required" name="conversation_item[body]"></textarea>
                  </div>
                </div>
                <input type="hidden" name="conversation_item[account_id]" value=<%= @account.id %> >
                <input type="hidden" name="conversation_item[type]" value="quote" >
              </div><!-- panel-body -->
              <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </div>
          </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->

 <script type="text/javascript">
    $('.follow_time').timepicker({
      minuteStep: 15
    });
 </script>