 <span><a href="javascript:void(0);" class="add_attachment"><i class="fa fa-plus" aria-hidden="true"></i>Attachment(s)</a></span>
  <div class="drop_zone_height hidden">
    <div class="col-lg-12 dropzone drop_zon_box drop_zon_box_for_add">
    </div>
  </div>