<%if citem.media.present?%>
  <div class="ci_footer">
    <ul style="list-style: none;padding-left: 3px">
      <%citem.media.each do |media|%>
        <li>
          <%=link_to media.urls.try(:thumb) do%>
            <i class="fa fa-file-image-o" aria-hidden="true"></i> <%=media.name%>
          <%end%>
        </li>
      <%end%>
    </ul>
  </div>
<%end%>