<div class="modal fade account-action-meeting" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Schedule Meeting</h4>
        </div>
        <div class="modal-body">
        <p>Follow the steps to schedule a meeting</p>
        <div class="panel panel-default">
              <form>
            <div class="panel-body">
              [** place form here **]
            </div><!-- panel-body -->
            <div class="panel-footer">
              <button class="btn btn-primary">Save</button>
              <button type="reset" class="btn btn-default">Reset</button>
                  </div>
              </form>
        </div><!-- panel -->
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->