<div class="row">
	<div class="col-md-12">
    <div class="input-group" id="adv-search">
      <input type="text" class="form-control" placeholder="Search" />
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
            <div class="dropdown-menu dropdown-menu-right conversation-search" role="menu">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="filter">Filter by Type</label>
                  <select name="filter_type" class="form-control input-sm">
                      <option value="all" selected="">All</option>
                      <option value="meetings">Meetings</option>
                      <option value="notes">Notes & Reminders</option>
                      <option value="emails">Emails</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="filter">Filter Date</label>
                    <div class="input-daterange input-group">
                      <input type="text" class="form-control datepicker" placeholder="dd/mm/yy" name="search-from-datepicker" id="search-from-datepicker" required="required" />
                         <span class="input-group-addon">to</span>
                      <input type="text" class="form-control datepicker" placeholder="dd/mm/yy" name="search_datepicker_end" id="search_datepicker_end">
                    </div>
                </div>
                <div class="form-group">
                  <label for="contain">Contains the words</label>
                  <input class="form-control" type="text" />
                </div>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
