<div class="cd-timeline-img cd-meeting">
	<img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
</div>
<div class="cd-timeline-content">
	<span class="cd-date">
		<%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
	</span>
	<h2 class="ci_header"><%= citem.title %></h2>
	<p><%= citem.body %></p>
</div>