<div class="modal fade conversation-edit-email-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Email</h4>
        </div>
        <div class="modal-body">
        <%= form_tag update_email_account_path(@account), novalidate: "novalidate", method: :patch do %>
        <div class="panel panel-default">
              <form>
            <div class="panel-body">
              <div class="row row-pad-5">
                <div class="col-lg-10">
                  <input type="email" name="conversation_item[invitees]" placeholder="To" class="form-control"  required="required" />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-10">
                  <input type="text" name="conversation_item[title]" placeholder="Subject" class="form-control" required="required"  />
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-10">
                  <textarea class="form-control" rows="5" placeholder="Message" required="required" name="conversation_item[body]"></textarea>
                </div>
              </div><!-- row -->


              <div class="row row-pad-5">
                <div class="col-lg-10">
                  <div class="ckbox ckbox-primary">
                    <input type="checkbox" id="send_later_edit" name="conversation_item[send_later]">
                    <label for="conversation_item[send_later]">Send Later?</label>
                  </div>
                </div>
              </div>


              <div id="email-sendlater-settings">
	              <div class="row row-pad-5">

	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                    <input name="scheduled_date" type="text" class="form-control datepicker" placeholder="dd/mm/yyyy" id="emailDatePickerEdit" />
	                   </div>
	                </div>

	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	                    <div class="bootstrap-timepicker">
                        <input name="scheduled_time" id="emailTimePickerEdit" type="text" class="form-control" />
                      </div>
	                  </div>
	                </div>
	              </div>
			        </div>


              <input type="hidden" name="conversation_item[id]" value=<%= @account.id %> >
            </div><!-- panel-body -->
            <div class="panel-footer">
              <button class="btn btn-primary">Update Email</button>
            </div>
        </div><!-- panel -->
        <% end %>
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->