<div class="modal fade file-error-pop-up-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      </div><!-- modal header-->
      <div class="modal-body">
        <div class="panel panel-default" style="text-align: center">
            <div class="panel-body">
              <div class="row row-pad-5">
                <p>File can not be deleted.</p>
              </div>
            </div>
        </div><!-- panel -->
      </div><!-- modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!-- modal footer-->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
