<div class="panel panel-default">
  <div class="panel-body" id="user_list">
    <div class="table-responsive">
      <table class="table mb30" id="list_of_related_to_account">
        <thead>
          <tr>
            <th>ID</th>
            <th>Account</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div><!-- panel-body -->
  <div class="panel-footer">
    <div class="row">
    </div>
  </div><!-- panel footer -->
</div><!-- panel -->