<form id="account-add-form" name="account-add-form" class="form-horizontal">
            
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Add Account</h4>
		<p>Fill in the details below to add an account</p>
	</div>
	<div class="panel-body">
		<div class="form-group">			
			<label class="col-sm-3 control-label">Account Name<span class="asterisk">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="account-name" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Address<span class="asterisk">*</span></label>
			<div class="col-sm-6">
				<input type="text" name="account-address" id="account-address" class="form-control" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Contact Name</label>
			<div class="col-sm-6">
				<input type="text" name="account-address" id="account-contact-name" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Contact</label>
			<div class="col-sm-6">
				<div class="row" id="account-contact-row">
					<div class="col-sm-3">
						<select name="account-contact-type[]" class="form-control input-sm">
			              <option value="phone">Phone</option>
			              <option value="mobile">Mobile</option>
			              <option value="fax">Fax</option>
			              <option value="email">Email</option>
			              <option value="website">Website</option>
			              <option value="twitter">Twitter</option>
			              <option value="facebook">Facebook</option>
			              <option value="youtube">Youtube</option>
			              <option value="instagram">Instagram</option>
			            </select>
					</div>
					<div class="col-sm-8">
						<input type="text" name="account-contact-details[]" placeholder="Details" class="form-control" required>
					</div>
					<div class="col-sm-1">
						<div class="btn-group">
							<a class="add-detail btn btn-success"><i class="fa fa-plus"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<div class="form-group">
			<label class="col-sm-3 control-label">Account Status<span class="asterisk">*</span></label>
			<div class="col-sm-2">
				<select name="account-status" class="form-control input-sm">
					<% @account_statuses.each do |status| %>
						<option value="<%= status['id'] %>"><%= status['name'] %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Assigned To<span class="asterisk">*</span></label>
			<div class="col-sm-6">
				... 
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Shared With</label>
			<div class="col-sm-6">
				...
			</div>
		</div>			
		<div class="form-group">
			<label class="col-sm-3 control-label">About</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="account-about" id="account-about" rows="5"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Quick Facts</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="account-facts" id="account-facts" rows="5"></textarea>
			</div>
		</div>			
	</div><!-- panel-body -->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<button type="submit" class="btn btn-primary" name="save" id="save">Save</button>&nbsp;
				<button class="btn btn-default" name="cancel" id="cancel">Cancel</button>
			</div>
		</div>
	</div><!-- panel-footer -->
</div>
</form>


<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>
<script src="/assets/bootstrap/js/jquery.autogrow-textarea.js"></script>
<script src="/assets/bootstrap/js/jquery.validate.min.js"></script>


<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>
<script src="/assets/bootstrap/js/fullcalendar.min.js"></script>
<script src="/assets/bootstrap/js/jquery.ui.touch-punch.min.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>

<script>
	// Textarea Autogrow
	jQuery('#account-about').autogrow();	
	jQuery('#account-facts').autogrow();	
	
	// Basic Form
	jQuery("#account-add-form").validate({
			highlight: function(element) {
			jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		},
		success: function(element) {
		  jQuery(element).closest('.form-group').removeClass('has-error');
		}
	});
	

	$('#account-add-form').on('click', '.add-detail', function () {
	    var row = $('#account-contact-row'),
	        new_row = row.clone();

	    row.find('.fa-plus')
	        .removeClass('fa-plus')
	        .addClass('fa-minus');

	    row.find('.add-detail')
	        .removeClass('add-detail')
	        .removeClass('btn-success')
	        .addClass('btn-danger')
	        .addClass('minus-detail');

	    
	    new_row.find('input:text').val('');
	    
	    row.after(new_row);
	}).on('click', '.minus-detail', function () {
	    $(this).closest('#account-contact-row').remove();
	});	

</script>
