          <div class="profile-header">
            <div class="row">
              <div class="col-sm-3">
                <img src="/assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail img-responsive" alt="">
                
                <div class="mb30"></div>
                                
                <h5 class="subtitle">Connect</h5>
                <ul class="profile-social-list">
                  <li><i class="fa fa-phone"></i>(123) 456-7890</li>
                  <li><i class="fa fa-fax"></i>(123) 456-7890</li>
                  <li><i class="fa fa-mobile"></i>(123) 456-7890</li>
                  <li><i class="fa fa-envelope-o"></i>my.email.account@company.com</li>
                  <li><i class="fa fa-twitter"></i> <a href="">twitter.com/eileensideways</a></li>
                  <li><i class="fa fa-facebook"></i> <a href="">facebook.com/eileen</a></li>
                  <li><i class="fa fa-youtube"></i> <a href="">youtube.com/eileen22</a></li>
                </ul>
                
                <div class="mb30"></div>
              
                <h5 class="subtitle">Address&nbsp;<i class="fa fa-map-marker"></i></h5>
                <div class="profile-location">  
                  <a href="https://maps.google.com?daddr=2529+Canada Way+Vancouver+Canada+V5G1G4" target="_blank">2529 Canada Way<br />Vancouver, Canada<br />V5G 1G4</a>
                </div>
                
                <div class="mb30"></div>
                <h5 class="subtitle">About</h5>
                <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>

  
              
              </div><!-- col-sm-3 -->
              <div class="col-sm-9">
                <h2 class="profile-name">Harley Davison Motor Company <span class="badge" style="background-color: #0eb057; border-color: #0eb057;">Open</span> </h2>   
                          <div class="profile-position">Assigned To: Micheal Jordan</div>         
                <div class="mb20"></div>
                <div class="btn-group mr5">
                  <button type="button" class="btn btn-primary">Action</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-toggle="modal" data-target=".account-action-meeting">Schedule Meeting</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".account-action-note">Add a Note</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".account-action-email">Send Email</a></li>
                    <li class="divider"></li>
                    <li><a href="<%= accounts_edit_path(1) %>">Edit Account</a></li>
                  </ul>
                </div>
                <div class="mb20"></div>
                
                <!--- Timeline Start -->
                <h4 class="subtitle">Conversation</h4>
                <section id="cd-timeline" class="cd-container">
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-phone">
                      <img src="/assets/vertical-timeline/img/cd-icon-phone.svg" alt="Phone">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Jul 14, 2015</span>
                      <h2>Title of section 1</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-meeting">
                      <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Jun 18, 2015</span> 
                      <h2>Title of section 2</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-note">
                      <img src="/assets/vertical-timeline/img/cd-icon-comments.svg" alt="Note">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">May 24, 2015</span>       
                      <h2>Title of section 3</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-reminder">
                      <img src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Apr 14, 2015</span>
                      <h2>Title of section 4</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-meeting">
                      <img src="/assets/vertical-timeline/img/cd-icon-coffee.svg" alt="Meeting">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Mar 18, 2015</span>       
                      <h2>Title of section 5</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-account">
                      <img src="/assets/vertical-timeline/img/cd-icon-briefcase.svg" alt="Account">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Feb 26, 2015</span>       
                      <h2>Final Section</h2>
                      <p>This is the content of the last section</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
                </section> <!-- cd-timeline -->
                
                <!-- Timeline End -->
              </div>              
            </div><!-- row -->
          </div><!-- profile-header -->
                </div>

            </div><!-- mainpanel -->
        </section>

<%= render "conversation_schedule" %>

<%= render "conversation_reminder" %>

<%= render "conversation_email" %>


    <script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/bootstrap/js/modernizr.min.js"></script>
    <script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
    <script src="/assets/bootstrap/js/toggles.min.js"></script>
    <script src="/assets/bootstrap/js/retina.min.js"></script>
    <script src="/assets/bootstrap/js/jquery.cookies.js"></script>

    
    <script src="/assets/vertical-timeline/js/main.js"></script> <!-- Timeline Resource jQuery -->                    

     <!-- Form elements - status and date picker -->
    <script src="/assets/bootstrap/js/select2.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/bootstrap/js/moment.js"></script>
    
    <script src="/assets/bootstrap/js/custom.js"></script>
    <script>
        jQuery(document).ready(function(){
    
            // Select with no buttons
            jQuery('#selectNoBtns').editable({
                source: [
                         {value: "1", text: "Guest"},
                         {value: "2", text: "Service"},
                         {value: "3", text: "Customer"},
                         {value: "4", text: "Operator"},
                         {value: "5", text: "Admin"}
                        ]
            });
            
        });
    </script>