<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Edit Account</h4>
		<p>Edit the details below.</p>
	</div>
	<%#= render partial: "account_form", locals: { url: accounts_path } %>
	<%= render partial: "account_edit" %>
</div>



<% content_for :custom_css do %>
<style>
	.account-avatar {
  width: 100%;
}

.account-avatar > img {
  max-width: 100%;
}
</style>
<% end %>

<% content_for :custom_js do %>
<script>
jQuery(document).ready(function(){
    "use strict";
  
	// With Form Validation Wizard
	var $validator = jQuery("#account-edit-form").validate({
		highlight: function(element) {
		  jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		},
		success: function(element) {
		  jQuery(element).closest('.form-group').removeClass('has-error');
		}
	});
  
	jQuery('#validationWizard').bootstrapWizard({
		tabClass: 'nav nav-pills nav-justified nav-disabled-click',
		onTabClick: function(tab, navigation, index) {
		  return false;
		},
		onNext: function(tab, navigation, index) {
		  var $valid = jQuery('#account-edit-form').valid();
		  
		  if(!$valid) {
		    $validator.focusInvalid();
		    return false;
		  }
		  
		},
		onTabShow: function(tab, navigation, index){
			if(index == 3){
		  		$(".pager .next").hide();
		  		$('.pager .finish').removeClass('disabled');
		  		$(".pager .finish").show();
			  }else{
			  	$(".pager .next").show();
			  	$(".pager .finish").hide();
			  }	
		}

	});
  	
  	$(".pager .finish").click(function(e){
  		e.preventDefault();
  		$("#account-edit-form").submit();
  	})
});
</script>
<% end %>