<% content_for :pageheader do %>
  <h2><i class="fa fa-briefcase"></i>Export Accounts Results</h2>
<% end %>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 pull-right">
  <%= link_to accounts_path, class: "btn btn-white btn-block" do %><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;&nbsp;Cancel<% end %><br />
  </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
	  <h4 class="panel-title">Please select the options to export your results.</h4>
	</div>
  	
</div>

<% content_for :custom_js do %>

<script>
</script>
<% end %>


<% content_for :custom_css do %>
<style>
</style>
<% end %>