<% content_for :pageheader do %>
  <h2><i class="fa fa-briefcase"></i>Import Accounts</h2>
<% end %>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2 pull-right">
   <%= link_to 'Go Back', :back, class: "btn btn-white btn-block" %><br />
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Please follow the steps below to import your accounts.</h4>
  </div>
  <%= render partial: "account_import_form" %>
</div>

<div class="panel panel-default hidden">
  <div class="panel-heading">
    <h4 class="panel-title">CSV Validation Check - Error(s) Found</h4>
    <p>Please resolve the errors below found in your CSV and try again.</p>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <div class="col-sm-10">
        <table class="table table-danger mb30">
          <thead>
            <tr>
              <th>Line #</th>
              <th>Error Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>No headers on the first line.</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div> <!-- panel-body -->
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('#validationWizard').bootstrapWizard({
      tabClass: 'nav nav-pills nav-justified nav-disabled-click',
      onTabClick: function(tab, navigation, index) {
        return false;
      },
      // onNext: function(tab, navigation, index) {
      //   var $valid = jQuery('#account-import-form').valid();

      //   if(!$valid) {
      //     $validator.focusInvalid();
      //     return false;
      //   }

      // },
      onTabShow: function(tab, navigation, index){
        if(index == 1){
            $(".pager .next").hide();
            $('.pager .finish').removeClass('disabled');
            $(".pager .finish").show();
          }else{
            $(".pager .next").show();
            $(".pager .finish").hide();
          }
      }
    });

    $(".pager .finish").click(function(e){
      e.preventDefault();
      $("#account-import-form").submit();
      $('#preloader').css('opacity', 0.6);
      $('#preloader').show();
    })
  });
</script>